ul{
 list-style-type: none;
  background-color: #8C00FF;

}
  li{
      display: inline;
      margin-right: 20px;
      
  }
  a{
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
  }